body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image: url(download\ \(1\).jpeg);
font-size:large;
}

.widget-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 0 auto; 
    width: fit-content;
  }